/*

!.gitignore

!/etc
/etc/*

!/etc/hosts

!/etc/nginx
/etc/nginx/*
!/etc/nginx/nginx.conf
!/etc/nginx/sites-available/main

!/etc/php
/etc/php/*
!/etc/php/7.0
/etc/php/7.0/*
!/etc/php/7.0/fpm
/etc/php/7.0/fpm/*
!/etc/php/7.0/fpm/php.ini

!/var
var/*
!/var/www
/var/www/*
!/var/www/_main

